/* Shared Styles */
:root{
    --primary-color: #FF5400;
    --secondary-color: #131318;
}
body{
    max-width: 1170px;
    margin: 0 auto;
}
.btnPrimary{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 900;
}


.flexCenterVhVw{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.textCenter{
    text-align: center;
}

.sectionTitle{
    font-size: 40px;
    font-weight: 900;
}

.sectionDescription{
    font-size: 1rem;
    color: var(--secondary-color);
}

/* Header Style */
/* Nav Style Start */
nav > .logo img{
    width: 4rem;
    margin-right: 25px;
}

.navTitle > span{
    color: var(--primary-color);
}

.navMenu li{
    list-style: none;
    margin-right: 1.5rem;
}
.navMenu li a {
    text-decoration: none;
    color: var(--secondary-color);
}
.navMenu li a:hover {
    background-color: grey;
    padding: 8px;
    border-radius: 5px;
 }
/* Nav Style End */


/* Banner Style Start */

.banner{
    margin-top: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bannerBG.png");
    background-size: cover;
    background-position: center;
    height: 500px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 20px;
}

.bannerText{
    
    max-width: 576px;
   
}
.bannerTitle{
    font-size: 64px;
    font-weight: 900;
}


.bannerSearchContainer{
    background-color: #ffffff31;
    border: none;
    border-radius: 8px;
    padding: 25px;
    gap: 24px;
    margin-bottom: 50px;
}

.filter-box{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 900;
}
.filter-box input, .filter-box select, .filter-box button{
    color: #131318;
    padding: 10px 25px;
    border-radius: 8px;
    border: 0;
}
.filter-box button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: #fff;
}
/* Banner Style End */


/* Popular Tour Start */

.popularToursContainer{
    margin: 50px auto;
}
.sectionList li{
    color: #131318;
    margin-bottom: 20px;
}
.popularToursImage img{
    width: 100%;
}
/* Popular Tour End */



























 /* Media Queries */

 @media screen and (max-width:600px) {
    
.flexCenterVhVw{
    flex-direction: column;
}
body{
   padding: 20px;
}
 }